<div class='driving-service pull-left'>
  <div class='car-name alert alert-info'> <%= car.full_name %> <span class='car-toggle-info'> <%= t('common.info') %>* </span> </div>

  <%- if car.photo? %>
    <div class="photo-and-specs">
      <div class='car-short-specs hidden'>
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.engine') %>: </strong> <span class='badge badge-info'><%= car.engine %></span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.conditioner') %>: </strong> <span class='badge badge-info'> <%= car.conditioner?? '+' : '-' %> </span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.leather') %>: </strong> <span class='badge badge-info'><%= car.leather?? '+' : '-' %></span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.number_of_passengers') %>: </strong> <span class='badge badge-info'><%= car.number_of_passengers %></span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.number_of_doors') %>: </strong> <span class='badge badge-info'><%= car.number_of_doors %></span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.car.transmission') %>: </strong> <span class='badge badge-info'><%= t 'cars.transmissions.' + car.transmission %></span>
        </div>
        <hr />
        <div class='driving-service-row'>
          <strong> <%= t('activerecord.attributes.rent.cost') %>: </strong> <span class='badge badge-important'><%= car.driving_service.cost %>$</span>
        </div>
      </div>
    </div>

    <div class='car-photo'><%= image_tag car.photo.url(:medium) %></div>
  <%- end %>


  <div class='book-car'><%= link_to t('rents.new_request'), new_rent_request_path(car_id: car.id, type: 'driving_service'), class: 'btn btn-success' %></div>
  <hr />

</div>
