<div class='page-header'>
  <%= @ad.body.html_safe %>
</div>

<div id='ad-preview'>
  <%= image_tag @ad.photo.url(:wide) %>

  <div id='ad-text'>
    <h2><%= @ad.body.html_safe %></h2>
  </div>
</div>

<%= link_to t('.edit'), edit_ad_path(@ad) %>
<%= link_to t('.destroy'), ad_path(@ad), method: 'delete' %>
