<%= simple_form_for [@car, @rent], url: car_rent_path, html: { class: 'form form-horizontal' } do |form| %>
  <%= form.input :day, required: true %>
  <%= form.input :one_to_two %>
  <%= form.input :three_to_five %>
  <%= form.input :six_to_twelve %>
  <%= form.input :thirteen_to_twenty_four %>
  <%= form.input :month %>
  <%= form.input :bail %>

  <%= form.submit t('common.submit'), disable_with: t('common.please_wait') %>

  <%- if @rent.persisted? %>
    <div><%= link_to t('common.destroy'), car_rent_path(car_id: @car.id), method: 'delete', confirm: t('common.are_you_sure?') %></div>
  <% end %>
<% end %>
