<div id='rental-previews' class='carousel slide'>
  <div class='carousel-inner'>
    <% @cars.in_groups_of(5, false).each_with_index do |group, index| %>

      <div class='<%= index == 0 ? "active item" : "item" %>'>

        <% group.each do |car| %>
          <div class='pull-left rental-preview' id='car-preview-<%= car.id %>'>
            <%= image_tag car.photo.url(:thumb) %>

            <div class='rental-preview-details'>
              <div class='car-name'><strong> <%= car.full_name %> </strong></div>
              <span class='badge badge-info'> <%= car.rent.month_calculation %> $ <%= t('common.per_month') %> </span>
            </div>
          </div>
        <% end %>

      </div>

    <% end %>
</div>
  <a class="carousel-control left" href="#rental-previews" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#rental-previews" data-slide="next">&rsaquo;</a>
</div>

