<%= simple_form_for @rent_request, url: rent_requests_path, html: { id: 'new-rent-request', class: 'form span4' } do |form| %>
  <%= form.input :receipt_location, label: false, wrapper: :append do %>
    <%= form.input_field :receipt_location, placeholder: t('rent_requests.receipt_location_placeholder') %><span id='receipt-suggestion' class="add-on"><i class="icon-circle-arrow-down"></i></span>
  <% end %>
  <hr />
  <%= form.input :drop_off_location, label: false, wrapper: :append do %>
    <%= form.input_field :drop_off_location, placeholder: t('rent_requests.drop_off_location_placeholder') %><span id='drop-off-suggestion' class="add-on"><i class="icon-circle-arrow-down"></i></span>
  <% end %>
  <%= form.input :drop_off_at_receipt, inline_label: true, label: false %>
  <%= form.input :confirm_drop_off_location, inline_label: true, label: false %>
  <hr />
  <%= form.input :receipt_at, :as => :date_picker, label: false, placeholder: t('activerecord.attributes.rent_request.receipt_at') %>
  <%= form.input :drop_off_at, :as => :date_picker, label: false, placeholder: t('activerecord.attributes.rent_request.drop_off_at') %>
  <%= form.input :car_id, as: :select, collection: @cars, label_method: :full_name, label: false, prompt: t('activerecord.attributes.rent_request.car_id') %>
  <%= form.input :name, label: false, placeholder: t('activerecord.attributes.rent_request.name') %>
  <%= form.input :email, label: false, placeholder: t('activerecord.attributes.rent_request.email') %>
  <%= form.input :phone, label: false, placeholder: t('activerecord.attributes.rent_request.phone') %>

  <%= form.submit t('cars.book'), class: 'btn btn-info' %>
<% end %>

