
<div class='well'>
  <div class='row'>
    <div class='alert alert-info span4'>
      <%= simple_form_for RentRequest.new, html: { class: 'form span4' } do |form| %>
        <%= form.input :receipt_location, label: false, placeholder: t('activerecord.attributes.rent_request.receipt_location') %>
        <%= form.input :drop_off_location, label: false, placeholder: t('activerecord.attributes.rent_request.drop_off_location') %>
        <%= form.input :drop_off_at_receipt, inline_label: true, label: false %>
        <%= form.input :confirm_drop_off_location, inline_label: true, label: false %>
        <%= form.input :receipt_at, :as => :date_picker, label: false, placeholder: t('activerecord.attributes.rent_request.receipt_at') %>
        <%= form.input :drop_off_at, :as => :date_picker, label: false, placeholder: t('activerecord.attributes.rent_request.drop_off_at') %>
        <%= form.input :car_id, as: :select, collection: @cars, label_method: :full_name, label: false, prompt: t('activerecord.attributes.rent_request.car_id') %>
        <%= form.input :name, label: false, placeholder: t('activerecord.attributes.rent_request.name') %>
        <%= form.input :email, label: false, placeholder: t('activerecord.attributes.rent_request.email') %>
        <%= form.input :phone, label: false, placeholder: t('activerecord.attributes.rent_request.phone') %>
      <% end %>
    </div>

    <div id='ads'>
      <div id='special-offers' class='carousel slide'>
        <div class='carousel-inner'>
          <% @ads.each_with_index do |ad, index| %>
            <div class='ad <%= index.zero?? "active item" : "item" %>'>
              <%= image_tag ad.photo.url(:wide) %>

              <div class='carousel-caption ad-text'>
                <%= ad.body.html_safe %>
              </div>
            </div>
          <% end %>
        </div>

        <a class="carousel-control left" href="#special-offers" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#special-offers" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <%= render 'cars' %>
  </div>

</div>


