<div class='well'>
  <div class='row'>
    <div class='alert alert-info span4'>
      <%= render 'rent_request_form' %>
    </div>

    <div id='ads'>
      <div id='special-offers' class='carousel slide'>
        <div class='carousel-inner'>
          <% @ads.each_with_index do |ad, index| %>
            <div class='ad <%= index.zero?? "active item" : "item" %>'>
              <%= image_tag ad.photo.url(:wide) %>

              <div class='carousel-caption ad-text'>
                <%= ad.body.html_safe %>
              </div>
            </div>
          <% end %>
        </div>

        <a class="carousel-control left" href="#special-offers" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#special-offers" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <%= render 'cars' %>
  </div>

</div>

