<div class='car-specs pull-left special-rent'>
  <div class='car-name alert alert-info'> <%= car.full_name %> <span class='car-toggle-info'> <%= t('common.info') %>* </span> </div>
  <%- if car.photo? %>
    <div class='photo-and-specs'>
      <div class='car-short-specs hidden'>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.conditioner') %>: </strong> <span class='badge badge-info'> <%= car.conditioner?? '+' : '-' %> </span>
        </div>
        <hr />
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.leather') %>: </strong> <span class='badge badge-info'><%= car.leather?? '+' : '-' %></span>
        </div>
        <hr />
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.number_of_passengers') %>: </strong> <span class='badge badge-info'><%= car.number_of_passengers %></span>
        </div>
        <hr />
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.number_of_doors') %>: </strong> <span class='badge badge-info'><%= car.number_of_doors %></span>
        </div>
        <hr />
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.transmission') %>: </strong> <span class='badge badge-info'><%= t 'cars.transmissions.' + car.transmission %></span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.car.engine') %>: </strong> <span class='badge badge-info'><%= car.engine %></span>
        </div>
      </div>

      <div class='car-photo'><%= image_tag car.photo.url(:medium) %></div>
    </div>
  <%- end %>
  <div class='book-car'><%= link_to t('rents.new_request'), new_rent_request_path(car_id: car.id, type: 'special_rent'), class: 'btn btn-success' %></div>
  <hr />

  <div class='car-prices'>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.special_rent.friday_to_monday') %>: </strong> <span class='badge badge-info'><%= car.special_rent.friday_to_monday %>$</span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.special_rent.thursday_to_monday') %>: </strong> <span class='badge badge-info'> <%= car.special_rent.thursday_to_monday %>$</span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.special_rent.friday_to_tuesday') %>: </strong> <span class='badge badge-info'> <%= car.special_rent.friday_to_tuesday %>$</span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.rent.bail') %>: </strong> <span class='badge badge-important'><%= car.rent.bail %>$</span>
      </div>
  </div>


</div>

