<%= page_header @car.full_name %>

<%= render 'car', car: @car %>

<div><%= link_to t('cars.edit_car'), edit_car_path(@car) %></div>

<%- if @car.rent %>
  <%= link_to t('rents.edit_rent'), edit_car_rent_path(@car) %>
<%- else %>
  <%= link_to t('rents.create_rent'), new_car_rent_path(@car) %>
<%- end %>
<br />
<%- if @car.driving_service %>
  <%= link_to t('driving_services.edit_service'), edit_car_driving_service_path(@car) %>
<%- else %>
  <%= link_to t('driving_services.create_service'), new_car_driving_service_path(@car) %>
<%- end %>
