<!-- header -->

<div class="navbar" id='header'>

  <div class="navbar-inner" id='header-inner'>
    <div class="container">

      <div id='header-links'>
        <div id='site-logo'>
          <%= link_to root_path, class: 'brand' do %>
            <%= image_tag 'logo.jpg', id: 'logo' %>
          <% end %>
        </div>

        <div class="nav-collapse">
          <ul class="nav main-nav">
            <%- if session[:rent_request_params] or session[:car_id] %>
              <li> <%= link_to new_rent_request_path, class: 'btn btn-info', id: 'back-to-main' do %> <h3> <%= t 'common.back_to_booking' %> </h3> <% end %> </li>
            <%- else %>
              <li> <%= link_to root_path, class: 'btn btn-info', id: 'back-to-main' do %> <h3> <%= t 'common.back_to_booking' %> </h3> <% end %> </li>
            <% end %>
          </ul>


          <ul class='pull-right nav' id='app-locales'>
            <li>
              <%= link_to to_russian_path, id: 'switch-to-russian' do %>
                <span class='label label-info'> <%= t 'locales.russian' %> </span>
              <% end %>
            </li>

            <li>
              <%= link_to to_english_path, id: 'switch-to-english' do %>
                <span class='label label-info'> <%= t 'locales.english' %> </span>
              <% end %>
            </li>
          </ul>

          <ul class='pull-right nav' id='social-block'>
            <li> <%= image_tag 'vk.png' %> </li>
            <li> <%= image_tag 'facebook.png' %> </li>
            <li> <%= image_tag 'twitter.png' %> </li>
          </ul>



        </div>
      </div>


    </div>
  </div>



</div>


<div class='subnav'>
  <ul class='nav nav-pills <%= I18n.locale %>-pills'>
    <li class='<%= action_name == "about_us" ? "active" : "" %>'> <%= link_to t('welcome.about_us'), about_us_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "welcome" ? "active" : "" %>'> <%= link_to t('welcome.index'), root_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "rents" ? "active" : "" %>'> <%= link_to t('welcome.catalog'), rents_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "special_rents" ? "active" : "" %>'> <%= link_to t('welcome.special_rents'), special_rents_path %> </li>
    <li class='<%= action_name == "rent_conds" and controller_name == "welcome" ? "active" : "" %>'> <%= link_to t('welcome.rent_conds'), rental_conditions_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "driving_services" ? "active" : "" %>'> <%= link_to t('driving_services.index.header'), driving_services_path %> </li>
    <li class='<%= action_name == 'to_partners' ? 'active' : 'special' %>'> <%= link_to t('.to_partners'), to_partners_path %> </li>
    <li class='<%= action_name == 'contacts' ? 'active' : '' %>'> <%= link_to t('welcome.contacts'), contacts_path %> </li>
    <li class='<%= action_name == 'partners' ? 'active' : '' %>'> <%= link_to t('.partners'), partners_path %> </li>
  </ul>

  <div id='contacts' class='pull-right'>
    <div id='phones'>
      <div class='phone'> +3 80631033051 </div>
      <div class='phone'> +3 0671078792 </div>
    </div>

    <hr />

    <div id='other'>
      <div class='email'> support@novarent.com.ua </div>
    </div>
  </div>
</div>


