<!-- header -->

<div class="navbar" id='header'>

  <div class="navbar-inner" id='header-inner'>
    <div class="container">

      <div id='header-links'>
        <%= link_to root_path, class: 'brand' do %>
          <div>
            <h1 class='brand-part'> Nova </h1>
            <h2 class='brand-part'> Rent </h2>
          </div>
        <% end %>

        <div class="nav-collapse">
          <ul class="nav main-nav">
            <%- if session[:rent_request_params] or session[:car_id] %>
              <li> <%= link_to new_rent_request_path, class: 'btn btn-warning', id: 'back-to-main' do %> <h2> Вернуться к бронированию </h2> <% end %> </li>
            <%- else %>
              <li> <%= link_to root_path, class: 'btn btn-warning', id: 'back-to-main' do %> <h2> Вернуться к бронированию </h2> <% end %> </li>
            <% end %>
          </ul>

          <ul class='pull-right nav'>
            <li> <%= link_to t('locales.russian') %> </li>
            <li> <%= link_to t('locales.english') %> </li>
          </ul>

          <ul class="nav contacts-nav well pull-right">
            <h3 id='phone'> <i class='icon-user'></i> <%= t('common.phone') %>: +58 41437462867 </h3>
            <h3 id='email'> <i class='icon-globe'></i> <strong><%= t('common.email') %></strong>: info@novarent.com.ua </h3>
          </ul>

        </div>
      </div>

    </div>
  </div>


</div>

<div class='subnav'>
  <ul class='nav nav-pills'>
    <li class='<%= action_name == "index" and controller_name == "welcome" ? "active" : "" %>'> <%= link_to t('welcome.index'), root_path %> </li>
    <li class='<%= action_name == "about_us" ? "active" : "" %>'> <%= link_to t('welcome.about_us'), about_us_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "rents" ? "active" : "" %>'> <%= link_to t('welcome.catalog'), rents_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "driving_services" ? "active" : "" %>'> <%= link_to t('driving_services.index.header'), driving_services_path %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
  </ul>
</div>

