<div class='subnav'>
  <ul class='nav nav-pills'>
    <li class='<%= action_name == "index" and controller_name == "welcome" ? "active" : "" %>'> <%= link_to t('welcome.index'), root_path %> </li>
    <li class='<%= action_name == "about_us" ? "active" : "" %>'> <%= link_to t('welcome.about_us'), about_us_path %> </li>
    <li class='<%= action_name == "index" and controller_name == "cars" ? "active" : "" %>'> <%= link_to t('welcome.catalog'), cars_path %> </li>
    <li> <%= link_to 'aa8sfj89as', '#' %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
    <li> <%= link_to 'asjf89asf', '#' %> </li>
  </ul>
</div>

