<!DOCTYPE html>
<html>
<head>
  <title>Nova Rent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
</head>
<body id='<%= controller_name.gsub('_', '-') %>' data-locale='<%= I18n.locale %>' data-action='<%= action_name.gsub('_', '-') %>'>

  <%= render 'header' %>

  <div class='container'>
    <%= yield %>

    <% if session[:admin] %>
      <%= link_to 'Admin', admin_path %>
    <% end %>
  </div>


  <div id='footer'>
    <div class='subnav-footer'>
      <ul class='nav nav-pills <%= I18n.locale %>-pills'>
        <li class='<%= action_name == "index" and controller_name == "welcome" ? "active" : "" %>'> <%= link_to t('welcome.index'), root_path %> </li>
        <li class='<%= action_name == "about_us" ? "active" : "" %>'> <%= link_to t('welcome.about_us'), about_us_path %> </li>
        <li class='<%= action_name == "index" and controller_name == "rents" ? "active" : "" %>'> <%= link_to t('welcome.catalog'), rents_path %> </li>
        <li class='<%= action_name == "index" and controller_name == "driving_services" ? "active" : "" %>'> <%= link_to t('driving_services.index.header'), driving_services_path %> </li>
        <li class='<%= action_name == "index" and controller_name == "special_rents" ? "active" : "" %>'> <%= link_to t('welcome.special_rents'), special_rents_path %> </li>
        <li class='<%= action_name == 'contacts' ? 'active' : '' %>'> <%= link_to t('welcome.contacts'), contacts_path %> </li>
      </ul>
    </div>
  </div>

</body>
</html>
