<!DOCTYPE html>
<html>
<head>
  <title>Nova Rent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
</head>
<body>

  <%= render 'header' %>

  <div class='container'>
    <%= render 'subnav' %>

    <%= yield %>
  </div>

  <div id='footer'>
    <p>Den Cars</p>
  </div>

</body>
</html>
