<%= simple_form_for @rent_request, html: { id: 'new-rent-request', method: 'put', class: 'form form-horizontal span6',
                                           data: { populated: !!session[:rent_request_params] } } do |form| %>
<%= page_header t('.header') %>

  <%= form.input :receipt_location, wrapper: :append do %>
    <%= form.input_field :receipt_location %><span id='receipt-suggestion' class="add-on"><i class="icon-circle-arrow-down"></i></span>
  <% end %>
  <%= form.input :drop_off_location, wrapper: :append do %>
    <%= form.input_field :drop_off_location %><span id='drop-off-suggestion' class="add-on"><i class="icon-circle-arrow-down"></i></span>
  <% end %>
  <%= form.input :drop_off_at_receipt, label: false, inline_label: true %>
  <%= form.input :confirm_drop_off_location, label: false, inline_label: true %>
  <%= form.input :receipt_at, :as => :date_picker %>
  <%= form.input :drop_off_at, :as => :date_picker %>

  <div class='alert alert-info' id='additional-services'>
    <div class='page-header'> <h4> <%= t('.additional_services') %> </h4> <strong> <%= t('.additional_services_remark') %> </strong> </div>
    <%= form.input :has_gps, label: false, inline_label: true %>
    <%= form.input :has_child_seat, label: false, inline_label: true %>
    <%= form.input :has_additional_driver, label: false, inline_label: true %>
  </div>

  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :phone %>

  <%= form.input :message, :as => :text, input_html: { class: 'span4', rows: 6 } %>

  <%= form.hidden_field :confirmed, value: true %>

  <%= form.submit t('common.confirm'), class: 'btn btn-success' %>
<% end %>

