<div id='new-rent-request-container' data-request-type='<%= @request_type %>'>

<div class='row'>
  <%= render 'form' %>

  <div class='span4' id='car-header'>
    <div id='car-name' class='alert alert-info'> <%= @car.full_name %> </div>

    <div id='car-photo'>
      <%= image_tag @car.photo.url(:medium) %>
    </div>

  </div>

  <div id='car-details' class='span4 well'>
    <div id='car-specs'>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.engine') %>: </strong> <span class='badge badge-info'><%= @car.engine %></span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.conditioner') %>: </strong> <span class='badge badge-info'> <%= @car.conditioner?? '+' : '-' %> </span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.leather') %>: </strong> <span class='badge badge-info'><%= @car.leather?? '+' : '-' %></span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.number_of_passengers') %>: </strong> <span class='badge badge-info'><%= @car.number_of_passengers %></span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.number_of_doors') %>: </strong> <span class='badge badge-info'><%= @car.number_of_doors %></span>
      </div>
      <div class='car-specs-row'>
        <strong> <%= t('activerecord.attributes.car.transmission') %>: </strong> <span class='badge badge-info'><%= t 'cars.transmissions.' + @car.transmission %></span>
      </div>
    </div>

    <div id='car-prices'>
      <%- if @request_type == 'rent' %>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.rent.one_to_two') %>: </strong> <span class='badge badge-info'><%= @rent.one_to_two %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.rent.three_to_five') %>: </strong> <span class='badge badge-info'> <%= @rent.three_to_five %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.rent.six_to_twelve') %>: </strong> <span class='badge badge-info'> <%= @rent.six_to_twelve %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.rent.thirteen_to_twenty_four') %>: </strong> <span class='badge badge-info'><%= @rent.thirteen_to_twenty_four %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.rent.month') %>: </strong> <span class='badge badge-info'><%= @rent.month %>$</span>
        </div>
      <%- elsif @request_type == 'special_rent' %>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.special_rent.friday_to_monday') %>: </strong> <span class='badge badge-info'> <%= @car.special_rent.friday_to_monday %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.special_rent.thursday_to_monday') %>: </strong> <span class='badge badge-info'><%= @car.special_rent.thursday_to_monday %>$</span>
        </div>
        <div class='car-specs-row'>
          <strong> <%= t('activerecord.attributes.special_rent.thursday_to_tuesday') %>: </strong> <span class='badge badge-info'> <%= @car.special_rent.thursday_to_tuesday %>$</span>
        </div>
      <% else %>
        <div class='car-prices-row'>
          <strong> <%= t('activerecord.attributes.driving_service.cost') %>: </strong> <span class='badge badge-info'><%= @car.driving_service.cost %>$</span>
        </div>
        <div class='car-prices-row'>
          <strong> <%= t('activerecord.attributes.driving_service.one_hour') %>: </strong> <span class='badge badge-info'> <%= @car.driving_service.one_hour %>$</span>
        </div>
        <div class='car-prices-row'>
          <strong> <%= t('activerecord.attributes.driving_service.transfer') %>: </strong> <span class='badge badge-info'> <%= @car.driving_service.transfer %>$</span>
        </div>
        <div class='car-prices-row'>
          <strong> <%= t('activerecord.attributes.driving_service.mileage') %>: </strong> <span class='badge badge-info'> <%= @car.driving_service.mileage %>$</span>
        </div>
      <% end %>

      <div class='car-prices-row'>
        <strong> <%= t('activerecord.attributes.rent.bail') %>: </strong> <span class='badge badge-important'><%= @car.rent.bail %>$</span>
      </div>
    </div>

  </div>

  <div class='span6 alert alert-info' id='rent-specification'>
    <%- if @request_type.rent? or @request_type.special_rent? %>

      <div id='cost-specs'>
        <div id='rent-cost'>
          <strong id='rent-cost-description'> <%= t('.rent_cost') %>: </strong>
          <span id='rent-cost-value'> <%= @rent_request.rent_cost %>$  </span>
          <%- if session[:rent_request_params] %>
            (<span id='rent-cost-time-period'> <%= t('activerecord.attributes.rent.' + @rent_request.stringified_period) %> </span>)
          <%- else %>
            (<span id='rent-cost-time-period'> <%= t('common.unknown') %> </span>)
          <%- end %>
        </div>
        <hr />

        <h4> <%= t('.delivery') %>: </h4>
        <div id='delivery-cost'>
          <strong> <%= t('.delivery_cost') %>: </strong> <span id='delivery-cost-value'> <%= @rent_request.delivery_cost %>$ </span>
        </div>

        <div id='return-cost'>
          <strong> <%= t('.return_cost') %>: </strong> <span id='return-cost-value'> <%= @rent_request.return_cost %>$ </span>
        </div>

        <h4> <%= t('.additional_services') %> </h4>
        <div id='gps-cost' class='hidden'>
          <strong id='gps-cost-description'> <%= t('.gps_cost') %>: </strong>
          <span id='gps-cost-value'> </span>
        </div>

        <div id='child-seat-cost' class='hidden'>
          <strong id='child-seat-cost-description'> <%= t('.child_seat_cost') %>: </strong>
          <span id='child-seat-cost-value'> </span>
        </div>

        <div id='additional-driver-cost' class='hidden'>
          <strong id='additional-driver-cost-description'> <%= t('.additional_driver_cost') %>: </strong>
          <span id='additional-driver-cost-value'> </span>
        </div>

      <% else %>
        <div id='driving-service-price-explanation'> <%= t('.driving_service_explanation').html_safe %> </div>
      <% end %>
    </div>

    <%- if @request_type.rent? or @request_type.special_rent? %>
      <div class='page-header'>
        <h3> <%= t('.total') %> </h3>
        <span id='rent-request-cost-total' class='badge badge-success'> <%= @rent_request.total %> $  </span>
      </div>
    <% end %>
  </div>

</div>

<div id='rent-json-attributes' class='hidden'>
  <%- if @request_type.rent? %>
    <%= [ @rent.one_to_two, @rent.three_to_five, @rent.six_to_twelve, @rent.thirteen_to_twenty_four, @rent.month, RentRequest::PRICES ].to_json.html_safe %>
  <%- elsif @request_type.driving_service? %>
    <%= [ @driving_service.cost, @driving_service.one_hour, @driving_service.transfer ].to_json.html_safe %>
  <%- else %>
    <%= [ @special_rent.thursday_to_monday, @special_rent.friday_to_monday, @special_rent.thursday_to_tuesday, RentRequest::PRICES ].to_json.html_safe %>
  <% end %>
</div>

<div id='delivery-attributes' class='hidden'>
  <div id='delivery-places'> <%= t('rent_requests.locations').to_json.html_safe %> </div>
  <div id='delivery-prices'> <%= RentRequest::CITY_DELIVERY_PRICE %> </div>
</div>

</div>
